//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//
expiredAcsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNCIsIng1dCI6IlJDM0NPdTV6UENIWlVKaVBlclM0SUl4Szh3ZyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxMS0yYmI2LTJjNzEtYWMwMC0zNDNhMGQwMDMwM2YiLCJzY3AiOjE3OTIsImNzaSI6IjE2NTE2MTM0MDMiLCJleHAiOjE2NTE2OTk4MDMsImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiJiNmFhZGExZi0wYjFkLTQ3YWMtODY2Zi05MWFhZTAwYTFkMDEiLCJpYXQiOjE2NTE2MTM0MDN9.ZZBX0g5UbdGhDU2J0L7XEJTbohidxAOEKpQlsfAyEuU-0frX5PXT9GVc7pn_FNC0kDO9EIeboohB1dqNJe37t741z8qLDHF5WGwNbMYbsmbEEi3eRIjxgEuH82GRzN7TM6hbw7GI_zLfeTTySFafPD3I-JlsvMEp7gFRJ_v4H6X4uKZ-SW2au5H0ZMwwhcsnBdN96Ycrc3ARhDGA1UBcQQbCU7La5MyYvZpE7LM6f0b_L6o4ZcFdkk1bPmwvXwM1GSdO3IpGWZJTfofjMEiybns4u2rJGtXoqvVyE9zHBonbxEWCi6fmJCF4t_8vQ-B1icQS6y6RS2304tNmsuOxPA
acsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNiIsIng1dCI6Im9QMWFxQnlfR3hZU3pSaXhuQ25zdE5PU2p2cyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxMi0yMjVhLWZhYzItNTAwZC0zMDNhMGQwMDg4MTkiLCJzY3AiOjE3OTIsImNzaSI6IjE2NTU3NTEzOTkiLCJleHAiOjE2NTU4Mzc3OTksImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiJiNmFhZGExZi0wYjFkLTQ3YWMtODY2Zi05MWFhZTAwYTFkMDEiLCJpYXQiOjE2NTU3NTEzOTl9.dQDW53-NK_r2Rjre-6lpZGnza3TsLGyxvFttA9TaoNsXJakbtdMiZCivjYLTztELQpBoFET7ulqjRH9jbLXn1lKFZsoLSTveYYGNbd7YRcNy6ppaln2DjyvuGU6vN39IMqDLvQuigV5p-m6mDGFyC7E5csY7bCdUNggo-zxQlHJ6JxtPxPDB47cgD8VDAHm-3IKJfzyIGDbq1uBTW4m9TXhkMY5WvKfstvzAnlJNoyqBbGLDXRbGiCWRgD-Q0dAWDm_BBYOBXT9XT_EARrMMMDsyy7o3rSmIsRSfFbur2NP8ACxDHrPC3pn_cLRjz_tVYhRAUpuJ9pBCYY09VPikdw
teamsMeetingLink = https:/$()/https://teams.microsoft.com/l/meetup-join/19%3ameeting_MzU4MGU0ZGItZTU4Ny00NDI4LWIyZjktNWZlNjU4MThhOGU3%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%2225e8d55c-34fa-4374-a1f5-e8f6a83a2f2b%22%7d
groupCallId = f82f8890-aeae-11ec-b8b7-87abd3d7b1a1
displayName = Viktoriia
