<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon${BUNDLE_ID_SUFFIX}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.azure.ios.communication.ui.meetings.AzureCommunicationUIDemoApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>acsui</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>This is required for calling.</string>
	<key>NSCameraUsageDescription</key>
	<string>This is required for calling.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>appCenterSecret</key>
	<string>${appCenterSecret}</string>
	<key>acsToken</key>
	<string>${acsToken}</string>
	<key>expiredAcsToken</key>
	<string>${expiredAcsToken}</string>
	<key>acsTokenUrl</key>
	<string>${acsTokenUrl}</string>
	<key>displayName</key>
	<string>${displayName}</string>
	<key>groupCallId</key>
	<string>${groupCallId}</string>
	<key>teamsMeetingLink</key>
	<string>${teamsMeetingLink}</string>
	<key>userId</key>
	<string>$(userId)</string>
	<key>threadId</key>
	<string>$(threadId)</string>
	<key>endpointUrl</key>
	<string>$(endpointUrl)</string>
</dict>
</plist>
