<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon${BUNDLE_ID_SUFFIX}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.azure.ios.communication.ui.meetings.AzureCommunicationUIDemoApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>acsui</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>aadToken</key>
	<string>${aadToken}</string>
	<key>acsToken</key>
	<string>eyJhbGciOiJSUzI1NiIsImtpZCI6IjYwNUVCMzFEMzBBMjBEQkRBNTMxODU2MkM4QTM2RDFCMzIyMkE2MTkiLCJ4NXQiOiJZRjZ6SFRDaURiMmxNWVZpeUtOdEd6SWlwaGsiLCJ0eXAiOiJKV1QifQ.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxZS04YzAzLTM4MWEtZjZjNy01OTNhMGQwMDliN2MiLCJzY3AiOjE3OTIsImNzaSI6IjE3MDkwNjM2NDAiLCJleHAiOjE3MDkxNTAwNDAsInJnbiI6ImFtZXIiLCJhY3NTY29wZSI6InZvaXAiLCJyZXNvdXJjZUlkIjoiYjZhYWRhMWYtMGIxZC00N2FjLTg2NmYtOTFhYWUwMGExZDAxIiwicmVzb3VyY2VMb2NhdGlvbiI6InVuaXRlZHN0YXRlcyIsImlhdCI6MTcwOTA2MzY0MH0.H0utbBpGcIM6t0kSN4JqcKIywTh_F0xOwQJzqNU__J2aN-isBF93cXIyckIqMRLpo41W4GK1yXLKplqxMGyP_E7GI2ObhdUiaKePb_uk7uFjX6038XydPmKK37nt2_0vIWrMBNwMccMpTeJJV5mUcFkKV_R8Ur9RId_w97Hr9ZCXPjnJE-R6my39MJUCRhF-5y0oVfbLi7zcabeP3-Jve2NleETrfCwNahCY4ogelmtiXEk_yF7iJUW1m6pobOXUwNFDyYxa4eR7UNlz6Y1yCNxIWOzXDWZqUvZzD9AgPmkX5GqUkdI145T8YAPUpc3WtLBWtBNiIxoHUp7dqHhu_w</string>
	<key>acsTokenUrl</key>
	<string>${acsTokenUrl}</string>
	<key>appCenterSecret</key>
	<string>${appCenterSecret}</string>
	<key>displayName</key>
	<string>${displayName}</string>
	<key>endpointUrl</key>
	<string>$(endpointUrl)</string>
	<key>expiredAcsToken</key>
	<string>${expiredAcsToken}</string>
	<key>groupCallId</key>
	<string>74fce2c0-520f-11ec-97de-71411a9a8e13</string>
	<key>teamsMeetingLink</key>
	<string>${teamsMeetingLink}</string>
	<key>threadId</key>
	<string>$(threadId)</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>userId</key>
	<string>${userId}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
