//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//
acsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNCIsIng1dCI6IlJDM0NPdTV6UENIWlVKaVBlclM0SUl4Szh3ZyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxMC0xMjc1LTkxZWYtOTljNi01OTNhMGQwMGUzMDkiLCJzY3AiOjE3OTIsImNzaSI6IjE2NDY4OTQ3NzEiLCJleHAiOjE2NDY5ODExNzEsImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiJiNmFhZGExZi0wYjFkLTQ3YWMtODY2Zi05MWFhZTAwYTFkMDEiLCJpYXQiOjE2NDY4OTQ3NzF9.AmAjqvfA6xKD2ZCMJi3lFyTiQn0CFRhCulx1BEXcpB2acVouEq7l6-OVUhKnC8D4IOW6AWE0LsgD0wixh9GNp6JOV8-PyseGUTC2DiKXy31d9t4o0MCfXUFE0q8T84i9A12ye_fjTKpwuMeZDwoRcF_WkRQtwClV9391SG7aqvAhobPK-wS2xf6Kw6aSV0eRBdZZQdeXssAa5wCcIik9yEmeWpZzUdBev5QOqji0qAT3TFxVP0vgMm1couRyXxzh8LeH3CMuc5C45y-6n7rsp9VyRBx9IUgYCmVwyqobKI4O7-enyRpyp_ReeDGSqw33VwAR_yL4nqbWwSWPWpD8Og
expiredAcsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNCIsIng1dCI6IlJDM0NPdTV6UENIWlVKaVBlclM0SUl4Szh3ZyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOjcxZWM1OTBiLWNiYWQtNDkwYy05OWM1LWI1NzhiZGFjZGU1NF8wMDAwMDAwZi03ZDNhLWQ1OTctYWMwMC0zNDNhMGQwMDk4YWMiLCJzY3AiOjE3OTIsImNzaSI6IjE2NDQzOTExMTciLCJleHAiOjE2NDQ0Nzc1MTcsImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiI3MWVjNTkwYi1jYmFkLTQ5MGMtOTljNS1iNTc4YmRhY2RlNTQiLCJpYXQiOjE2NDQzOTExMTd9.drq6sZetHWFSM_ytsTxmfh_IZCSD4nggfh5611ZM4YSkSvn9YvMvfse7gAbJMCsLr2S-cNixfcrBDlT_xHpOQ5x7sqabHEcViQXFW1ko-KEMXlLSyPFF2Q4mjrk1cxatbWfVww9pk0C2fB-Y0KH8EvfDeegrWL7BGsblVI5LJPfCyBQ_43axSc38pI3fhnYuftXbESS2f9PHqNFI0gzsARY7xWRw_BN1_XEho858UaqsFllH5utz5ovRgjW6rj32PtWzUwMdOAioUDqCO3Vg_OKPZhemX7XBTsuPnBVFH3-rdXOZ_3PiDulsQ7EWdDlS_a1IjlkC_P0vAys5tT3xew
acsTokenUrl = https:/$()/acs-token-auth.azurewebsites.net/api/Auth?code=ECCHapGpOGo7KLqwsCrHZt9z5W7mKYEeCgFVnJjPxltPl1faCmfaNw==
displayName = Amy
groupCallId = e414e26b-a7b2-4c20-818d-c1e715d6bf80
teamsMeetingLink =  https:/$()/teams.microsoft.com/l/meetup-join/19:meeting_ZjAyNDFjZjItNDQyYS00NDcwLWE3MTktNDFmNWJlMTEyOTFk@thread.v2/0?context=%7B%22Tid%22:%2272f988bf-86f1-41af-91ab-2d7cd011db47%22,%22Oid%22:%22c93d4d38-a049-4a31-9f83-f0051b6bab2d%22%7D


