//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//

// Default
EXCLUDED_SOURCE_FILE_NAMES = */Mocking/*

// Environment - override by creating file
#include? "EnvConfig.xcconfig"

// Build Time Generated - overridden at build time by scripts that generate xcconfig
#include? "BuildTimeGenerated.xcconfig"
