//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//
#include? "EnvConfig.xcconfig"

acsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNCIsIng1dCI6IlJDM0NPdTV6UENIWlVKaVBlclM0SUl4Szh3ZyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxMS0yNTcyLTUwNjctMmM4YS0wODQ4MjIwMDMxMzAiLCJzY3AiOjE3OTIsImNzaSI6IjE2NTE1MDgyOTIiLCJleHAiOjE2NTE1OTQ2OTIsImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiJiNmFhZGExZi0wYjFkLTQ3YWMtODY2Zi05MWFhZTAwYTFkMDEiLCJpYXQiOjE2NTE1MDgyOTJ9.Gx6YNtyCQTzCWJxeQgwhrbPhfJFvhdl_KR_NlY1zkifYzeExkpmq6VQinq3KdoFItPbXJjza9K7Mri5NJwmOZkG0Qdxqvvbte0zSsAT1RzzVJZVEed_Kjl8Ng_y1GjFWwbTwWB_b9ntNyWOctFTZrfva7D3JjEPxH1zxpm5nGbxYl-dbScVdTcrb2Fr9o-zcwBYsfd30-rRSnRlKiMdF5FrrXTdBZKfiRdiMKBjWCPciVJa2SMzLN1bcjBq-fSWus-M5-BNZN4b6njGNm1yCm4y1k-jkNCfcMRmCqx31H4ub_dk1I7ecyADvd_1Asab1ZAVlex0NQbcDZRFqo6Dflw
displayName = test
groupCallId = e76996b0-f58e-11eb-a16f-8db7a6fdcc6c
teamsMeetingLink = https:/$()/teams.microsoft.com/l/meetup-join/19%3ameeting_MWYxNzQ4ZWEtMWM0MS00NmViLWI1YmMtYzA1MDZhNzEyY2Fl%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%226ab9fe04-8ebd-4fe9-a2ed-70c449c924fa%22%7d
expiredAcsToken = eyJhbGciOiJSUzI1NiIsImtpZCI6IjEwNCIsIng1dCI6IlJDM0NPdTV6UENIWlVKaVBlclM0SUl4Szh3ZyIsInR5cCI6IkpXVCJ9.eyJza3lwZWlkIjoiYWNzOmI2YWFkYTFmLTBiMWQtNDdhYy04NjZmLTkxYWFlMDBhMWQwMV8wMDAwMDAxMS0wYmUyLTI1MjMtOTljNi01OTNhMGQwMGMyOTIiLCJzY3AiOjE3OTIsImNzaSI6IjE2NTEwNzk0MTQiLCJleHAiOjE2NTExNjU4MTQsImFjc1Njb3BlIjoidm9pcCIsInJlc291cmNlSWQiOiJiNmFhZGExZi0wYjFkLTQ3YWMtODY2Zi05MWFhZTAwYTFkMDEiLCJpYXQiOjE2NTEwNzk0MTR9.KKxqWeitRo72JFHQQRPu88Fp4lxZep6pdeAnjPJiyAIVu4zLLNPD2g8YsSvIomRFhWPquFEBTWmiEGu24lIAfCLvgfd4xnDim214ysm5B_jfxWZ1-LxA9nmU0nzNjPNz2ff8DvkO2SsUawJ_UJSQgUOplq8AFDG-lFojHdtGisVhMol9OpoIgzb7dv-YA5z7Kzm05kaLW1ZJhS7EIJbpuol5ZFjhNJ7I7qXysJLDkjzQwnyExy21lxgjqkuSBeprorkurCo0EQIh9nkojTtQKkjJdjhw7rbKHUi7RrfBrEZk8RGFDuCV5s1AcluFQYI7lCZlvwdCpcu9xZjyvYibIQ
